<!DOCTYPE html>
<html lang="en">
<head>
    <title>NEWS</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    
    <p style="color:rgb(8, 65, 92);"><b><mark><i>Spelling is important for three reasons:</i></mark></b><br>
    <strong><i>Communication:</i></strong> <i>Spelling is a critical component of communication.</i><br> 
        <strong></i>Literacy:</i></strong> <i>Spelling and reading skills are closely related and help develop overall literacy.</i><br>
         <strong><i>Employment:</i></strong><i> Spelling quality has a direct impact on employment opportunities.</i><br>
         <br><i>Research has found that spelling, reading, writing and comprehension skills are all closely linked.<br>
         A research study conducted by L.C. Ehri for the Scientific Study of Reading found that spelling instruction improves reading ability, as it builds a learner's knowledge of the alphabetic system as it is used in readingIn software, a spell checker (or spelling checker or spell check) is a software feature that checks for misspellings in a text. Spell-checking features are often embedded in software or services, such as a word processor, email client, electronic dictionary, or search engine.</i></p>
</head>
<body>
    
</body>
</html>